<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TAcademyExample</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>bloodInsert</servlet-name>
		<servlet-class>com.pyo.android.http.BloodInsertServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bloodAllSelect</servlet-name>
		<servlet-class>com.pyo.android.http.BloodAllSelectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jSONbloodAllSelect</servlet-name>
		<servlet-class>com.pyo.android.http.JSONBloodAllSelectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>domWeather</servlet-name>
		<servlet-class>com.pyo.android.http.DOMWeatherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>xmlPullRequest</servlet-name>
		<servlet-class>com.pyo.android.http.RequestXMLPullServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>girlsGenerationXML</servlet-name>
		<servlet-class>com.pyo.android.http.RequestGirlsGenerationXMLServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileUpload</servlet-name>
		<servlet-class>com.pyo.android.http.FileUpLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>createCookies</servlet-name>
		<servlet-class>com.pyo.android.http.CreateCookiesTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sendCookies</servlet-name>
		<servlet-class>com.pyo.android.http.CurrentCookiesTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendCookies</servlet-name>
		<url-pattern>/sendCookies.pyo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createCookies</servlet-name>
		<url-pattern>/createCookies.pyo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUpload</servlet-name>
		<url-pattern>/fileUpload.pyo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bloodInsert</servlet-name>
		<url-pattern>/bloodInsert.pyo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bloodAllSelect</servlet-name>
		<url-pattern>/bloodAllSelect.pyo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jSONbloodAllSelect</servlet-name>
		<url-pattern>/jSONbloodAllSelect.pyo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>domWeather</servlet-name>
		<url-pattern>/domWeather.pyo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xmlPullRequest</servlet-name>
		<url-pattern>/xmlPullRequest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>girlsGenerationXML</servlet-name>
		<url-pattern>/girlsGenerationXML.pyo</url-pattern>
	</servlet-mapping>
</web-app>